#apiKey=
#userKey is required if WhiteSource administrator has enabled "Enforce user level access" option
#userKey=
#requesterEmail=you@yourdomain.com

# https://whitesource.atlassian.net/wiki/spaces/WD/pages/1544880156/Unified+Agent+Configuration+Parameters#Linux-Package-Manager-Settings
# export WS_SCANPACKAGEMANAGER=True
# scanPackageManager=true

npm.runPreStep=true
bower.runPreStep=true
maven.runPreStep=true
php.runPreStep=true
cocoapods.runPreStep=true
hex.runPreStep=true
cargo.runPreStep=true
# https://whitesource.atlassian.net/wiki/spaces/WD/pages/1544880156/Unified+Agent+Configuration+Parameters#Maven
maven.ignoreSourceFiles=True
maven.ignoreMvnTreeErrors=True
maven.additionalArguments=-U -P local
maven.aggregateModules=True
# https://whitesource.atlassian.net/wiki/spaces/WD/pages/1544880156/Unified+Agent+Configuration+Parameters#Gradle
#gradle.ignoreSourceFiles=true
gradle.aggregateModules=true
